---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Nosotros">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio officiis delectus quas ex maiores dolore consectetur fuga eius illum quos, aliquam quaerat eos, debitis voluptas eaque voluptates! Sit a blanditiis, error ducimus ipsam ullam veniam, culpa totam debitis non perferendis. Culpa voluptates nihil autem dignissimos nemo doloremque magnam dolores, suscipit debitis tenetur temporibus ipsum enim consequuntur dicta obcaecati eos officiis delectus adipisci. Vero reprehenderit, recusandae nemo quibusdam dignissimos corrupti possimus illo laudantium? A natus itaque aperiam tempora esse iste! Mollitia eos labore cum autem doloribus corrupti est impedit et fuga, illum rem commodi. Reiciendis ipsum sint incidunt eum ea harum!</p>
</Layout>